package ${packagePath}.service;

import ${packagePath}.entiy.$className.capitalize();
import java.util.List;

public interface ${className.capitalize()}Service {

	/**
	 * query ${className}
	 *
	 */
    List<$className.capitalize()> list query$className.capitalize()();
    
    /**
	 * update ${className}
	 *
	 */
    void update$className.capitalize()($className.capitalize() ${className});
    
    /**
	 * delete ${className}
	 *
	 */
    void delete$className.capitalize()($className.capitalize() ${className});
    
}